<%- include ('partials/header') %> 
<%- include ('partials/nav-min') %>
    <div style="padding-top: 55px;">
        <h1 class="text-center" >Add Your Stuff</h1>
        <div class="container">
            <form method="post">
                <div class="form-group">
                    <label class="my-2" style="font-weight: bold;">Collection Name</label>
                    <textarea name="name" class="form-control" placeholder="enter your product description"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Add</button>
              </form>
        </div>
    </div>
<%- include ('partials/footer') %>